body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ebfe8+0,aeebfc+50,ffffff+100 */
	background: #2ebfe8; /* Old browsers */
	background: -moz-linear-gradient(top,  #2ebfe8 0%, #aeebfc 50%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #2ebfe8 0%,#aeebfc 50%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #2ebfe8 0%,#aeebfc 50%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ebfe8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	height: 668px;
}