<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>

</h:head>
<h:body>
	<h2>JSF 2.0 Hello World Example - List.xhtml</h2>
	<p:dataTable value="">
	    <p:column headerText="Id">
	        <h:outputText value="#{car.id}" />
	    </p:column>
	</p:dataTable>
</h:body>
</html>