<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>Actividad Camilo</title>
	<link rel="stylesheet" type="text/css" href="resources/bootstrap/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="resources/bootstrap/bootstrap-theme.min.css"/>
	<link rel="stylesheet" type="text/css" href="resources/css/main.css"/>
</h:head>
<h:body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
						<h2>Formulario</h2>
						<h:form id="form1">
							<p:growl id="growl" showDetail="true" sticky="true" />
							<p:panelGrid id="panel" columns="2">
								<h:inputHidden value="#{usuarioBean.tokenFormHTML}" />
								<h:inputHidden value="#{usuarioBean.idUserInsert}" />
								<h:outputText value="Cedula :" />
								<p:inputText value="#{usuarioBean.cedula}"></p:inputText>
								<h:outputText value="Nombre: " />
								<p:inputText value="#{usuarioBean.nombre}"></p:inputText>
								<h:outputText value="Fecha Nacimiento :" />
								<p:calendar id="popup" value="#{usuarioBean.fechaNacimiento}"
									navigator="true" pattern="dd/MM/yyyy" />
								<h:outputText value="Telefono :" />
								<p:inputText value="#{usuarioBean.telefono}"></p:inputText>
							</p:panelGrid>
							<p:commandButton value="Guardar"
								actionListener="#{usuarioBean.guardar}" update="@form" />
						</h:form>
						<h:form>
							<p:growl id="message" showDetail="true" />
					
							<p:commandButton value="Destroy the World"
								actionListener="#{dialogView.destroyWorld}" update="message">
								<p:confirm header="Confirmation" message="Are you sure?"
									icon="ui-icon-alert" />
							</p:commandButton>
					
							<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
								<p:commandButton value="Yes" type="button"
									styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
								<p:commandButton value="No" type="button"
									styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
							</p:confirmDialog>
						</h:form>
					
					</div>
				</div>
			</div>
		</div>
	</div>
</h:body>
</html>